from typing import Optional


class {{ name | title }}:
    """用于作为模板"""
    _name: Optional[str]

    @classmethod
    def from_name(cls, name: str) -> "{{ name | title }}":
        return cls(name=name)

    def __init__(self, name: Optional[str] = None) -> None:
        self._name = name

    def __repr__(self):
        return f"[{{ name | title }}]:<name: {self._name}>"

    def hello(self) -> str:
        """测试类的方法hello"""
        return f"hello {self._name}"

    def bye(self) -> str:
        """测试类的方法bye"""
        return f"bye {self._name}"
